.sidebar {
  background-color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 60px;
  width: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  z-index: 200;
  border-right: 0.5px solid rgb(202, 202, 202);
}

.side-box {
  min-height: 80px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 0.15s;
  cursor: pointer;
}

.side-box:hover {
  background-color: rgb(239, 239, 239);
}

.side-box:active {
  background-color: rgb(228, 228, 228);
}

.icon-text {
  font-size: 11px;
  margin-top: 5px;
}

.light {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

.light-block {
  margin-top: 10px;
}

.night-on {
  background-color: rgb(37, 37, 37);
}

@media (min-width:1300px) {
  .sidebar {
    width: 210px;
  }

  .side-box {
    flex-direction: row;
    justify-content: left;
    padding-left: 28px;
  }

  .icon-text {
    margin-left: 25px;
    font-size: 15px;
  }
}